@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* root style controller for all components (global) */
:root {
  --text-color : white;
  --background-color : black;
  --detail : rgb(66, 0, 0);
  --highlight : rgb(20, 141, 91);
}

/* the root body */
body {
  /* text styling */
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);

  background-color: var(--background-color);
}

/* ======================= MANUAL PAGE ========================= */
.manual-container {
  margin-top: -50px;
  background: linear-gradient(rgba(0,0,0,0.69), rgba(0,0,0,0.69)),
        url("../images/birds.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--detail);
}

.manual-content iframe {
  margin-top: 4rem;
  width: 60vw;
  height: 80vh;
  padding: 9px;
  background-color: var(--detail);
  border: 1px solid white;
}

.manual-container .footer .text{
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.manual-container .footer .text:hover{
  text-decoration:underline;
}



/* ==================================== ABOUT PAGE ==================================== */
.About{
  height: 100vh;
  margin-top: -50px;
  position: relative;
}
.About .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  transition: .5s;

  font-size: 1.6rem;
}
.About .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.About .list .item p:nth-child(1),
.About .list .item h2,
.About .list .item p:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .3s .3s ease-in-out 1 forwards;
}
.About .list .item h2{
  animation-delay: 0.3s;
}
.About .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0,0,0,0.69), rgba(0,0,0,0.69));
}
.About .list .item .content{
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}
.About .list .item .content p:nth-child(1){
  text-transform: uppercase;
}
.About .list .item .content h2{
  font-size: 100px;
  margin: 0;
  animation-delay: 0.3s;
}
.About .list .item.active p:nth-child(3){
  animation-duration: 0.3s;
}












 /* default React App styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
