.Carousel{
    height: 100vh;
    margin-top: -50px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; */
}
::-webkit-scrollbar {
    display: none;
}

.Carousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
    font-size: 1.6rem;
}
.Carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.Carousel .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 6%, transparent
    );
}
.Carousel .list .item .content{
    position: absolute;
    left: 50%;
    top: 36%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Carousel .list .item .content p:nth-child(1){
    text-transform: uppercase;
}
.Carousel .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.Carousel .list .item .content h2{
    font-size: 100px;
    margin: 0;
}

/* ================================= ACTIVE ITEM ================================ */
.Carousel .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.Carousel .list .item.active p:nth-child(1),
.Carousel .list .item.active h2,
.Carousel .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .3s .3s ease-in-out 1 forwards;
}
.Carousel .list .item.active h2{
    animation-delay: 0.3s;
}
.Carousel .list .item.active p:nth-child(3){
    animation-duration: 0.3s;
}

/* ==================================== FOOTER ===============================================*/
footer{
    position: absolute;
    top: 90%;
    left: 3%;
    /* transform: translate(-50%, -50%); */
    z-index: 100;
}

.footer-shake{
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

