header {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Align items horizontally with space between */
    align-items: center; /* Align items vertically center */
    position: relative;
    margin-top: 1rem;
    z-index: 100;
    font-size: 1.6rem;
}

header .title {
    margin-left: 2rem; /* Add margin to the left for spacing */
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
}

header .menu li {
    cursor: pointer;
}

header .menu li.active {
    text-decoration: underline;
}
