.thumbnail{
    position: absolute;
    bottom: 5.5rem;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    /* overflow: auto; */
    justify-content: center;    
    align-items: flex-end;
    gap: 3rem;
    
    font-size: 1.6rem;
    
    /* background-color: red; */
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 13rem;
    height: 5.5rem;
    filter: brightness(.5);
    transition: .3s ease;
    flex-shrink: 0;
    color: gray;

    border: 2px solid white;
    border-radius: 20px;

    cursor: pointer;
    user-select: none;
}
.thumbnail .item:hover{
    transform: scale(110%);
}
.thumbnail .item.active-border{
    border-color: var(--highlight);
}

.thumbnail .item.active{
    filter: brightness(1.5);
    color: var(--text-color);
}
.thumbnail .item .content{
    /* position: absolute; */
    inset: auto 10px 10px 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thumbnail .item .content .detail{
    font-size: 1rem;
    margin-bottom: 1rem;
}




.thumbnail-link{
    position: absolute;
    bottom: 2rem;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    /* overflow: auto; */
    justify-content: center;    
    align-items: flex-end;
    gap: 3rem;
    
    font-size: 1.6rem;
    
    /* background-color: red; */
}
.thumbnail-link::-webkit-scrollbar{
    width: 0;
}
.thumbnail-link .item{
    width: 13rem;
    height: 5.5rem;
    filter: brightness(1.5);
    transition: .3s ease;
    flex-shrink: 0;
    color: gray;


    cursor: pointer;
}
.thumbnail-link .item:hover{
    transform: scale(110%);
}

.thumbnail-link .item.active{
    filter: brightness(1.5);
    color: var(--text-color);
}
.thumbnail-link .item .content{
    /* position: absolute; */
    inset: auto 10px 10px 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@keyframes shake {
    0% { transform: translate(0); }
    10%, 90% { transform: translate(-10px, 0); }
    20%, 80% { transform: translate(10px, 0); }
    30%, 50%, 70% { transform: translate(-10px, 0); }
    40%, 60% { transform: translate(10px, 0); }
    100% { transform: translate(0); }
}
/* .shake-screen {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
} */

@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .Carousel .list .item .content h2{
        font-size: 60px;
    }
}